<footer class="page-wrapper text-center">
	<p>
		<a {{{ternary new_window 'target="_blank"'}}} href="themes">HyperGraph &copy 2017</a>   &middot   
		<a {{{ternary new_window 'target="_blank"'}}} href="privacy">Privacy & Legal</a>   &middot   
		<a {{{ternary new_window 'target="_blank"'}}} href="contact">Contact</a>   &middot   
		<a {{{ternary new_window 'target="_blank"'}}} href="careers">Careers</a>   &middot   
		<a {{{ternary new_window 'target="_blank"'}}} href="forums">Forums</a>   &middot   
		<a {{{ternary new_window 'target="_blank"'}}} href="locations">Locations</a>   
	</p>
</footer>